# Data files
*.csv

# Secret Key
secret.key

# Client Secrets
client_secrets.json

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/
ENV/

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

.streamlit/
report_states.json
subscribers.json
__pycache__/
*.pyc